<ion-header>
  <ion-toolbar>
    <ion-title>Torneo - Semifinal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Semifinal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Primer combate -->
      <ion-item>
        <ion-label>Primer Combate</ion-label>
        <ion-radio-group (ionChange)="seleccionarGanador(0, $event)">
          <ion-item>
            <ion-label>{{ resultados4[0] }}</ion-label>
            <ion-radio slot="start" value="{{ resultados4[0] }}"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ resultados4[1] }}</ion-label>
            <ion-radio slot="start" value="{{ resultados4[1] }}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>

      <!-- Segundo combate -->
      <ion-item>
        <ion-label>Segundo Combate</ion-label>
        <ion-radio-group (ionChange)="seleccionarGanador(1, $event)">
          <ion-item>
            <ion-label>{{ resultados4[2] }}</ion-label>
            <ion-radio slot="start" value="{{ resultados4[2] }}"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ resultados4[3] }}</ion-label>
            <ion-radio slot="start" value="{{ resultados4[3] }}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>

      <!-- Botón para guardar -->
      <ion-button expand="block" (click)="guardarResultados()" [disabled]="!todosSeleccionados">Guardar Resultados</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
